@import url('Phon.jpg');

body {
    font-family: 'Ubuntu', sans-serif;
    background: url("Phon.jpg");
    padding: 100px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #ffffff;
    background: #ffffff;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.title-block {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 20px;
}

.userpic {
    flex: 0 0 100px;
    height: 100px;
    background: url("https://sun9-51.userapi.com/impg/99a_jNHCxHqNrlqTG_pA_JSrU_clnaTTEF_J_w/oRMKWxModPI.jpg?size=1728x1624&quality=95&sign=03f83f59422579037d9864cf89bb29b8&type=album") no-repeat center center / cover;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: auto;
}

.nav ul {
    display: flex;
    background: rgb(230, 230, 230);
    list-style: none;
    padding: 0;
}

.nav ul li {
    flex: 1 1 auto;
}

.nav ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 1px solid gray;
    transition: .3s ease;
}

.nav ul a:hover {
    background: rgb(196, 196, 196);
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 1 1 100%;
    padding: 20px;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 600px;
        flex-direction: column;
    }
}
.reclama {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.text-box {
   margin-top: 10px;
   margin-bottom: 50px;
   flex: 1 1 auto;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #444444;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #292929;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.movie {
    width: 100%;
    height: auto;
    margin: 0 auto; // выравнивает по центру по вертикали
    display: block;
    max-width: 500px;
}